.new-tech {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 0%);
    width: 18rem;
    padding: 0.3rem;
    border-radius: 17px;
    letter-spacing: 3px;
    box-shadow: 2px 4px 3px #000000, -2px -1px 3px #ffffff54;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .new-tech:hover{
   background-color:  #3d0000;
  }

  .users-list {
    border-top: 4px solid orangered;
    margin-top: 1em;
    background-color: rgb(137 136 136 / 16%);
    padding: 3rem 0.1rem;
    border-radius: 17px;
    width: 100%;
    min-height: 24rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-content: center;
  }
  .cards {
    box-sizing: border-box;
    text-align: center;
    /*   background-color: black; */
    background-image: url("../../../assets/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 24rem;
    height: 18rem;
    padding: 1rem;
    border-radius: 1rem;
    animation: fadeUp 0.5s ease-in-out;
  }
  .cards h4 {
    padding: 1rem;
  
    background-image: linear-gradient(188deg, #072430, transparent);
  }

  .userImage {
  width: 17%;
  position: relative;
  top: -2.5rem;
  left: 0;
  border-radius: 50%;
  background-image: linear-gradient(121deg, #11312e, transparent);
  box-shadow: 0px 3px 10px #000000cf, -2px -2px 4px #4b4b4b;
}
